/* место для вашего кода */


h1, h2, h3 {
  text-transform: uppercase;
  font-family: Raleway-Bold, sans-serif;
}

.header {
  display: flex;
  height: 293px;
  padding: 50px;
}

.logo {
  width: 148px;
}

.cover {
  padding: 50px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-color: black;
}

.cover_title {
  margin-top: 115px;
  margin-bottom: 100px;
  font-size: 40;
  color: white;
}

.cover_title_first_word {
  text-align: right;
}

.cover_title_second_word {
  text-align: center;
}

.cover_title_third_word {
  text-align: left;
}

.description {
  display: flex;
  justify-content: space-between;
  font-size: 22;
  text-transform: uppercase;
  color: white;
}